.view_button{
  background: black !important;
  color: white !important;
  padding: 4px 25px;
}

.justifyend{
  justify-content: end;
}
.flex{
  display: flex;
}
.flexwrap{
  flex-wrap: wrap;
}
.cardsdiv > div{
  margin: 10px;
}
.flexstart{
  justify-content: flex-start;
}
.overflowpara{
  line-height: 1.2 !important;
  height: 51px;
  overflow: hidden;
}

@media screen and (max-width: 546px) {
  .wm100{
    width: 100% !important;
  }
}