.main{
    flex: 1;
}
.text{
    /* My name is ------ we are total ------ family members. I visit your flat --Number--- on -----date.Deposit -----rupees.Monthly Rent------rupees.i will shift on -----date. */

position: absolute;
width: 1012px;
height: 209px;
left: calc(50% - 1012px/2 + 0.5px);
top: 198px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 55px;
/* or 212% */
text-align: center;

color: #000000;


}