.bankButton {
  background: black !important;
  margin-bottom: 10px;
  width: 100px;
  height: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 15px !important;
}

/* normal hover */
.bankButton:hover {
  opacity: 0.6;
  background-color: black;
}

/* jab disabled ho */
.bankButton.Mui-disabled {
  background: black !important;   /* same look rakho */
  color: #ffffff !important;      /* text white hi rahe */
  cursor: not-allowed !important; /* click block ho */
  opacity: 0.6;                   /* halka grey effect */
  pointer-events: auto !important; /* hover allow karega */
}

/* disabled hover par red overlay */
.bankButton.Mui-disabled:hover {
  background: red !important;
  color: #fff !important;
  opacity: 0.8;
}
